* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
}
html, body {
  background-color: #3B3B3B !important;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  height: 440px;
  object-fit: cover;
  object-position: center;
  justify-content: center;
  display: flex;
  margin-bottom: 90px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-size: 50px;
  color: #fff;
}

.title{
  color: #fff;
}